.wallpaper {
  width: 100vw;
  height: 100vh;
  overflow: hidden; 
  .flex {
    display: flex;
    align-items: center;
    justify-content: center;
  } 
  .wall-type {
    width: 100%; 
    overflow: hidden;
    .type-name {
      width: 70%;
      height: 100%;
      margin: 0 auto;
      .name-item {
        width: 100%;
        height: 100%;
        font-size: 30px;
        margin: 0 15px;
        text-align: center;
        transition: all 0.15s ease;
      }
      .focus {
        font-size: 35px;
        color: var(--brown);
      }
    }
  } 

  .wall-list{
    width: 100%; 
    .row-item{
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 20px; 
      overflow: hidden;
      text-align: center;
      .item{
        width: 100%;
        height:100% ;
        border-radius: 8px; 
        box-shadow: 0 1rpx 6rpx rgba(0, 0, 0, 0.1);
        &:first-child{
          margin-right:10px;
        }
        &:not(:first-child){
          margin-left:10px;
        }
      } 
    }
    .bing{
      position: relative;
      display: block;
      background-color: var(--white);
      overflow: hidden;
      border-radius: 10rpx;
      margin: 30rpx;  
      margin-bottom: 40px;
      .bg-shadeBottom {
        background-image: linear-gradient(rgba(0, 0, 0, 0.01), rgba(0, 0, 0, 1));
        color: var(--white);
      }
      .info{ 
        position: absolute;
        bottom: 0;
        width: 100%; 
        min-height: 100rpx;
        background-color: transparent;
        padding: 0rpx 30rpx;
        text-align: left;
        .flex;
        .bg-shadeBottom;
       
      }
      .img{
        width:100%; 
      }
      .tag{
        position: absolute;
        right: 0;
        top: 0;
        height: 40rpx;
        padding: 0 16rpx;
      } 
    }
  }
}

.text-cut {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.bg-blue {
  background-color: var(--blue);
  color: var(--white);
}