page {
  --active-color: brown;
}

.scroll_bar{
  width: 98%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  background-color: rgba(0,0,0,0.25);
  color:rgba(255,255,255,0.64);
  border-right: 1rpx solid rgba(255,255,255,0.25);
}
.scroll_title{
	text-align: center;
	padding: 10rpx;
	border-bottom: 1rpx solid rgba(255,255,255,0.25);
}

.item_scroll{
  padding: 20rpx 10rpx;
  text-indent: 15rpx;
  overflow: hidden;
  text-overflow:ellipsis;
  white-space: nowrap;
}

.active{
  color: var(--active-color)
}
